.pagination {
  font-size: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  &__icon {
    cursor: pointer;
    font-size: 24px;
    margin: 0px 10px;
    &:hover {
      color: black;
    }
  }
}
