.pagination {
  font-size: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  &__icon {
    cursor: pointer;
    font-size: 24px;
    margin: 0px 10px;
    border: 1px solid rgba($color: black, $alpha: 0.2);
    &:hover {
      color: black;
      border: 1px solid rgba($color: black, $alpha: 0.45);
    }
  }

  &__pages {
    display: flex;
    margin: 0;
    font-size: 15px;
    &__page {
      margin: 0px 3px 3px 4px;
      width: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      border: 1px solid rgba($color: black, $alpha: 0.2);
      &:hover {
        border: 1px solid rgba($color: black, $alpha: 0.45);
      }
    }
  }
}
