.transactions-list {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba($color: #f5f5f5, $alpha: 1);
  box-shadow: 0px 0px 5px #f5f5f5;
  min-height: 400px;
  margin-bottom: 0;

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2px 0px 8px 0px;
    position: relative;
    &:hover {
      background-color: #f5f5f5;
    }
  }
  &__remove {
    color: red;
    border: none;
    cursor: pointer;
    padding: 0px 4px;
    position: absolute;
    right: 10px;
    top: 15px;
    border-radius: 2px;
    &:hover {
      background-color: darken($color: #f5f5f5, $amount: 10);
    }
  }
}
